body{
background:#020617;
color:white;
font-family:Inter,Arial;
margin:0;
}

header{
background:#0f172a;
padding:14px 24px;
display:flex;
justify-content:space-between;
align-items:center;
}

.nav button{
background:#111827;
color:white;
border:none;
padding:8px 14px;
border-radius:8px;
margin-left:6px;
cursor:pointer;
}

.container{
max-width:1400px;
margin:auto;
padding:24px;
}

.match{
background:#111827;
border-radius:12px;
padding:14px;
margin-bottom:10px;
transition:.2s;
}

.match:hover{
transform:scale(1.02);
}

.score{
font-size:32px;
font-weight:700;
margin-top:6px;
}

.player-row{
display:flex;
justify-content:space-between;
}

.bracket{
display:flex;
gap:60px;
padding:30px;
}

.round{
min-width:220px;
}
