body{
background:#0f172a;
color:white;
font-family:sans-serif;
}

.header{
padding:20px;
background:#020617;
}

.tabs button{
margin:5px;
padding:10px;
background:#1e293b;
border:none;
color:white;
cursor:pointer;
transition:0.2s;
}

.tabs button:hover{
transform:scale(1.1);
background:#334155;
}

.match{
background:#1e293b;
margin:10px;
padding:15px;
border-radius:10px;
}

.score{
font-size:24px;
font-weight:bold;
}
