body{
  margin:0;
  background:#0B0B0B;
  font-family:Arial, sans-serif;
  color:white;
}

header{
  padding:20px;
  border-bottom:1px solid #222;
  font-size:22px;
  letter-spacing:2px;
  text-transform:uppercase;
}

button{
  background:#C6A75E;
  border:none;
  padding:8px 14px;
  border-radius:4px;
  cursor:pointer;
  font-weight:bold;
}

table{
  width:90%;
  margin:30px auto;
  border-collapse:collapse;
}

th,td{
  padding:10px;
  border-bottom:1px solid #222;
}

.flag{
  width:20px;
  margin-right:8px;
}

.round{
  display:flex;
  gap:40px;
  padding:20px;
}
.match{
  background:#141414;
  border:1px solid #222;
  width:220px;
  padding:10px;
  margin-bottom:15px;
}
.player{
  display:flex;
  justify-content:space-between;
  padding:6px 0;
}
.score{
  color:#C6A75E;
}
.winner{
  font-weight:bold;
  color:#C6A75E;
}
